body {
    font-family: 'Delius';
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: #f9f6e6;
    color: #bad8b6;;
  }
  
  h2 {
    text-align: center;
    color: #8d77ab;
    font-family: 'Lilita one';

  }
  
  .category-group {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin: 5px 0;
    width: 48%;
    box-sizing: border-box;
    border: 2px solid #bad8b6;
    border-radius: 8px;
    transition: 0.3s ease;
    outline: none;
    background-color: #e1eacd;

  }
  input:hover {
    border-color: #8d77ab;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
  }
  
  button {
    padding: 10px 15px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #8d77ab;
    color: #e1eacd;
    border: none;
    border-radius: 4px;
  }
  button:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
  }
  
  #results {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  
  canvas {
    margin-top: 20px;
  }
  